/*body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  */
  /* Styling for the home-box container */
  /* .home-box {
    display: flex;
    width: 100%; */
    /* gap: 20px;  Space between posts */
    /* width: 80%; */
    /* max-width: 1200px; */
    /* margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  } */